body {
  font-size: 0.8em;
  font-family: Sans-Serif;
}

.form {
  background-color: #cccccc;
  border-radius: 0.3em;
  display: inline-block;
  margin-bottom: 0.5em;
  padding: 1em;
  border-color: #ffffff;
  border-radius: 4px 4px 4px 4px;
  margin:2px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border: 2px solid #000000;
}

table {
  border-collapse: collapse;
}

input{
  padding: 0.3em;
  border-color: #cccccc;
  border-radius: 0.3em;
  
    margin:2px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border: 2px solid #000000;
	height :25px;
	 width: 200px;
}

.required:after {
  content: "*";
  color: red;
}

.button-pane {
  margin-top: 1em;
}

#pub-viewer {
  float: right;
  width: 48%;
  height: 20em;
  border: solid #d092ff 0.1em;
}
#pub-viewer iframe {
  width: 100%;
  height: 100%;
}

#pub-list {
  width: 46%;
  background-color: #eeeeee;
  border-radius: 0.3em;
}
#pub-list  {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
}

#msg {
  margin-bottom: 1em;
}

.action-success {
  padding: 0.5em;
  color: #00d21e;
  border-radius: 0.2em;  
  background-color: #EEE;
  font-size: 15px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.action-failure {
  padding: 0.5em;
  color: #ff1408;
  background-color: #EEE;
  border-radius: 0.2em;
  font-size: 15px;
}

.note {
  font-size: smaller;
}

.destructive {
  background-color: orange;
  height:20px;
  font-family:arial;
  width : 150px;
  border-radius:5px;
  border:1px solid #4e6096;
  font-family:arial;
  display:inline-block;
  cursor:pointer;
  color:#000000;
}
.destructive:hover {
  background-color: #ff8000;
}
.destructive:active {
  background-color: red;
}


.button
{
 
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
  background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
  background-color:#7892c2;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:5px;
  border:1px solid #4e6096;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  text-decoration:none;
  text-align:center;
  font-size: 12px;
  height:20px;
  width : 150px;
}

form {
 
  margin-top: 5px;
  margin-bottom: 5px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}